
// Raavi
// Raleway-regular

* {
	box-sizing: border-box;
} 

.header {
	font: 30px Raleway-regular;
	font-weight: 700;
	line-height: 43px;
	color: #566473;
}

.text {
	@extend .header;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	padding-top: 30px;
	padding-bottom: 10px;
}

// HEADER

.wrapper-header {
	background: url("../images/back-burger.png") center no-repeat;
	background-size: cover;
	overflow: hidden;

	.container-header {
		padding: 80px 0;

		@media screen and (max-width: 992px) and (min-width: 320px) {
			padding-top: 20px;
		}

		.header-menu {
			padding: 20px 0;

			.header-menu-for-list {
				position: relative;

				.header-menu-bars {
					color: #fff;
					font-size: 20px;
					cursor: pointer;

					@media screen and (max-width: 1200px) and (min-width: 320px) {
						padding-left: 20px;
					}	

					@media screen and (max-width: 768px) and (min-width: 320px) {
						float: left;
					}	
				}

				.list {
					display: none;
					width: 100%;
					position: absolute;
					top: 0;
					left: 6%;
					padding: 10px;
					background-color: rgba(0,0,0,0.5);

						@media screen and (max-width: 1200px) and (min-width: 993px) {
							left: 12%;
						}

						@media screen and (max-width: 992px) and (min-width: 769px) {
							left: 14%;
						}	

						@media screen and (max-width: 768px) and (min-width: 320px) {
							left: 14%;
							width: 90px;
							padding: 10px;
							z-index: 1;
							background-color: rgba(0,0,0,0.8);
						}	

						@media screen and (max-width: 480px) and (min-width: 320px) {
							left: 16%;
						}				

					li {
						padding: 5px 0;
						float: left;
						width: 16%;
						text-align: center;
						
							@media screen and (max-width: 768px) and (min-width: 320px) {
								float: none;
								width: 100%;
								text-align: left;
								margin-top: 0;
							}				

						a {
							font: 16px Raleway-regular;
							line-height: 18px;
							color: #fff;
						}
					}
				}
			}


			.header-menu-for-search {
				position: relative;

				.header-menu-search {
					color: #fff;
					font-size: 20px;
					cursor: pointer;
					float: right;

					@media screen and (max-width: 1200px) and (min-width: 320px) {
						padding-right: 20px;
					}	
				}

				form {
					display: none;
					// width: 100%;
					position: absolute;
					top: 0;
					right: 6%;
					// background-color: rgba(0,0,0,0.5);

					@media screen and (max-width: 1200px) and (min-width: 993px) {
						right: 12%;
					}

					@media screen and (max-width: 992px) and (min-width: 769px) {
						right: 14%;
					}	

					@media screen and (max-width: 768px) and (min-width: 320px) {
						right: 14%;
						z-index: 1;
						// background-color: rgba(0,0,0,0.8);
					}	

					@media screen and (max-width: 480px) and (min-width: 320px) {
						right: 16%;
					}		

					input {
						width: 220px;
						padding: 10px 20px;
						background-color: rgba(239, 243, 243, 0.1);
						border: 2px solid rgba(239, 243, 243, 0.7);

						@media screen and (max-width: 480px) and (min-width: 320px) {
							width: 135px;
						}

						&:hover {
							box-shadow: 0 0 10px rgba(255,255,255,0.5);
						}
					}
				}
			}
		
			
		}

		.header-info {
			
			.header-info-about {
				padding-top: 275px;
				padding-bottom: 20px;

				@media screen and (max-width: 992px) and (min-width: 769px) {
					padding-top: 80px;
				}

				@media screen and (max-width: 768px) and (min-width: 320px) {
					padding-top: 35px;
				}

				h1 {
					font: 49px Raleway-regular;
					color: #fff;
					text-align: right;
					padding-right: 30px;

					@media screen and (max-width: 992px) and (min-width: 320px) {
						text-align: center;
						padding-right: 0;
						line-height: 14px;
					}
				}

				p {
					font: 14px Raavi;
					color: #fff;
					text-align: right;
					line-height: 18px;
					padding: 20px 30px 45px;

					@media screen and (max-width: 992px) and (min-width: 769px) {
						text-align: center;
					}

					@media screen and (max-width: 768px) and (min-width: 320px) {
						padding-bottom: 20px;
						text-align: center;
					}
				}

				.header-info-about-link {
					text-align: center;

					.link-download {
						display: inline-block;
						padding: 10px 35px;
						font: 21px Raavi;
						color: #566473;
						font-weight: 400;
						background: #eff3f3;
						border: 2px solid #eff3f3;

						@media screen and (max-width: 992px) and (min-width: 769px) {
							display: block;
							width: 180px;
							padding: 5px 30px;
							margin: 0 auto;
						}

						@media screen and (max-width: 768px) and (min-width: 320px) {
							padding: 5px 30px;
						}

						@media screen and (max-width: 480px) and (min-width: 320px) {
							display: block;
							width: 180px;
							margin: 0 auto;
						}

						&:hover {
							text-decoration: none;
							box-shadow: 0 0 10px rgba(0,0,0,0.5);

							@media screen and (max-width: 992px) and (min-width: 320px) {
								box-shadow: 0 0 10px rgba(0,0,0,0.9);
							}
						}
					}	

					.link-learn-more {
						@extend .link-download;
							color: #fff;
							background: transparent;
							margin-left: 30px;

						@media screen and (max-width: 992px) and (min-width: 769px) {
							margin: 18px auto 0;
						}

						@media screen and (max-width: 480px) and (min-width: 320px) {
							display: block;
							width: 180px;
							margin: 18px auto 0;
						}
					}
				}
			}

			.header-info-image {

				@media screen and (max-width: 768px) and (min-width: 320px) {
					margin-bottom: -435px;
				}

				@media screen and (max-width: 481px) and (min-width: 320px) {
					margin-bottom: -320px;
				}	

				img {
					display: block;
					margin-bottom: -260px;

					@media screen and (max-width: 992px) and (min-width: 769px) {
						width: 100%;
					}

					@media screen and (max-width: 768px) and (min-width: 320px) {
						width: 70%;
						margin: 0 auto;
					}
				}
			}
		}
	}
}
// end of HEADER

// CHEKOUT

.wrapper-checkout {
	background-color: rgba(52, 152, 219, 0.8);

	.header-menu {
		text-align: center;
		padding: 35px 80px;

		@media screen and (max-width: 768px) and (min-width: 320px) {
			padding: 30px;
		}

		h2 {
			font: 23px Raleway-regular;
			font-weight: 700;
			line-height: 22px;
			color: #fff;
			padding-bottom: 10px;
		}

		p {
			font: 14px Raleway-regular;
			font-weight: 400;
			line-height: 17px;
			color: #fff;
		}
	}	
}
// end of CHECKOUT

// LOGIN
.wrapper-login {
	background-color: #fff;
	overflow: hidden;

	.login {
		padding: 35px 70px 0;

		@media screen and (max-width: 768px) and (min-width: 481px) {
			padding: 30px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px) {
			padding: 5px;
		}

		img {
			margin-bottom: -110px;

			@media screen and (max-width: 992px) and (min-width: 768px) {
				width: 100%;
			}

			@media screen and (max-width: 768px) and (min-width: 481px) {
				margin-left: -200px;
			}
		}

		.login-image {
			@media screen and (max-width: 480px) and (min-width: 320px) {
				display: none;
			}
		}

		.login-text {
			text-align: right;
			padding-top: 140px;

			@media screen and (max-width: 1200px) and (min-width: 992px) {
				padding-top: 70px;
			}		

			@media screen and (max-width: 992px) and (min-width: 769px) {
				padding-top: 0;
				padding-bottom: 20px;
			}	

			@media screen and (max-width: 768px) and (min-width: 481px) {
				padding-top: 0;
			}

			@media screen and (max-width: 480px) and (min-width: 320px) {
				padding-top: 0;
				width: 100%;
				text-align: left;
			}
		}
	}
}
// end of LOGIN

// TODAY
.wrapper-today {
	background-color: #eff3f3;
	overflow: hidden;

	.today {
		padding: 35px 70px 0;

		@media screen and (max-width: 768px) and (min-width: 480px) {
			padding: 30px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px) {
			padding: 5px;
		}

		img {
			margin-bottom: -110px;

			@media screen and (max-width: 992px) and (min-width: 769px) {
				width: 100%;
			}

			@media screen and (max-width: 768px) and (min-width: 481px) {
				margin-right: -200px;
			}
		}

		.today-text {
			padding-top: 140px;

			@media screen and (max-width: 1200px) and (min-width: 992px) {
				padding-top: 70px;
			}	

			@media screen and (max-width: 992px) and (min-width: 769px) {
				padding-top: 0;
				padding-bottom: 20px;
			}	

			@media screen and (max-width: 768px) and (min-width: 481px) {
				padding-top: 0;
			}

			@media screen and (max-width: 480px) and (min-width: 320px) {
				padding-top: 0;
				width: 100%;
				text-align: left;
			}
		}

		.today-image {
			text-align: right;

			@media screen and (max-width: 480px) and (min-width: 320px) {
				display: none;
			}
		}
	}
}
// end of TODAY

// GALLERY
	.wrapper-gallery {
		background: url("../images/back-blue.png") center no-repeat;
		background-size: cover;

		@media screen and (max-width: 480px) and (min-width: 320px) {
			display: none;
		}

		.gallery {
			padding-top: 80px;
			text-align: center;

			h3 {
				font: 28px Raleway-regular;
				font-weight: 600;
				color: #fff;
			}

			h2 {
				@extend h3;
				font-size: 36px;
				font-weight: 700;
				padding-bottom: 40px;
			}	
		}

		.for-gallery {
			overflow: hidden;

			
		}
	}
// end of GALLERY

// PERSON
	.wrapper-person {
		background-color: #eff3f3;

		.person {
			padding: 50px 100px;

			@media screen and (max-width: 992px) and (min-width: 481px) {
				padding: 30px;
			}

			@media screen and (max-width: 480px) and (min-width: 320px) {
				padding: 5px;
				padding-top: 15px;
				background-color: #fff;
			}

			.person-image {
				padding: 5px;
				border: 3px solid #3498db;
				border-radius: 100px;

				@media screen and (max-width: 768px) and (min-width: 320px) {
					width: 146px;
					margin: 0 auto;
				}

				img {
					width: 100%;
					vertical-align: middle;
				}
			}

			.person-text {
				padding: 50px 0;
				padding-left: 40px;

				@media screen and (max-width: 992px) and (min-width: 769px) {
					padding: 20px 0;
					padding-left: 40px;
				}

				@media screen and (max-width: 769px) and (min-width: 320px) {
					padding: 10px;
					text-align: center;
				}

				h2 {
					font: 26px Raleway-regular;
					font-weight: 500;
					line-height: 21px;
					color: #566473;

					@media screen and (max-width: 769px) and (min-width: 320px) {
						padding-bottom: 10px;
					}
				}

				p {
					@extend h2;
					font-size: 13px;
					font-weight: 400;
				}
			}
		}
	}
// end of PERSON

// SIGN-UP
.wrapper-sign-up {
	background: url("../images/back-brown.png") center no-repeat;
	background-size: cover;

	.sign-up {
		padding: 100px 70px 75px;

		@media screen and (max-width: 769px) and (min-width: 481px) {
			padding: 30px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px) {
			padding: 5px;
		}

		.sign-up-text {
			h2 {
				font: 30px Raleway-regular;
				font-weight: 600;
				line-height: 21px;
				color: #eff3f3;

				@media screen and (max-width: 992px) and (min-width: 320px) {
					font-size: 28px;
					line-height: 30px;
					padding-bottom: 15px;
				}
			}

			p {
				@extend h2;
				font-size: 20px;
				font-weight: 400;
				line-height: 50px;

				@media screen and (max-width: 992px) and (min-width: 320px) {
					line-height: 28px;
				}
			}
		}

		.sign-up-form {
			font: 13px "Open Sans";
			color: #fff;
			text-align: center;

			input[type="text"] {
				width: 180px;
				padding: 10px 20px;
				background-color: rgba(239, 243, 243, 0.1);
				border: 2px solid rgba(239, 243, 243, 0.7);

				@media screen and (max-width: 768px) and (min-width: 320px) {
					width: 100%;
				}

				&:first-child {
					margin-right: 20px;

					@media screen and (max-width: 992px) and (min-width: 320px) {
						margin-right: 0;
						margin-bottom: 18px;
					}
				}

				&:hover {
					box-shadow: 0 0 10px rgba(255,255,255,0.5);
				}
			}

			button {
				display: block;
				margin: 0 auto;
				width: 180px;
				padding: 8px 20px;
				background-color: #3498db;
				font: 20px "Open Sans";
				border: none;
				margin-top: 18px;

				@media screen and (max-width: 480px) and (min-width: 320px) {
					margin-bottom: 15px;
				}

				&:hover {
					box-shadow: 0 0 10px rgba(255,255,255,0.5);
				}
			}
		}
	}
}
// end of SIGN-UP

// FOOTER
 .wrapper-footer {
 	background-color: #1b1e20;

 	.footer {
 		padding: 75px 0 65px;

 		@media screen and (max-width: 992px) and (min-width: 481px) {
			padding: 60px 0 40px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px) {
			padding: 15px;
		}

 		.footer-download {
 			text-align: center;

 			p {
 				display: inline-block;
 				color: #dddfe1;
				font: 30px Raleway-regular;
				line-height: 21px;
				font-weight: 700;

				span {
					font-weight: 400;
				}
 			}

 			a {
 				background-color: #eff3f3;
				border-radius: 5px;
 				color: #1b1e20;
				font: 16px "Open Sans";
				font-weight: 400;
				line-height: 21px;
				text-transform: uppercase;
				vertical-align: top;
				padding: 15px 45px;
				margin-left: 30px;

				@media screen and (max-width: 992px) and (min-width: 481px) {
					padding: 10px 30px;
				}

				@media screen and (max-width: 480px) and (min-width: 320px) {
					padding: 10px 25px;
					// margin-left: 0;
					// margin-top: 10px;
					margin: 15px auto;
					display: block;
					width: 180px;

				}

				&:hover {
					text-decoration: none;
					box-shadow: 0 0 10px rgba(255,255,255,0.5);
				}
 			}
 		}

 		.footer-socials {
 			text-align: center;
 			font-size: 30px;
    		margin: 30px 0;
    		
    		a {
    			margin: 0 4px;
    				
				.fa-facebook-square {
					color: #3B5998;
				}

				.fa-twitter-square {
					color: #44CCF6;
				}

				.fa-pinterest-square {
					color: #CE2128;
				}

				.fa-youtube-square {
					color: #CE332D;
				}

				.fa-vimeo-square {
					color: #86C9EF;
				}
    		}
 		}

 		.footer-rights {
 			text-align: center;
 			font: 16px "Open Sans";
 			font-weight: 400;
 			line-height: 21px;
 			color: #dddfe1;
 		}
 	}
}
// end of FOOTER

// GALLERY

.dg-container {
	height: 250px;
}

.dg-wrapper a{
	width: 370px;
	height: 316px;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -185px;
	background: transparent url(../images/back-burger.png)center no-repeat;
	background-size: cover;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);

	// @media screen and (max-width: 992px) and (min-width: 481px) {
	// 	width: 326px;
	// 	margin-left: -163px;
	// }
}	

.dg-wrapper a img{
	display: block;
	padding: 0;
	margin: 0 auto;
	height: 315px;
}


.dg-container nav{
	width: 100%;
	position: absolute;
	z-index: 1000;
	bottom: 50%;
	left: 0;
	margin-left: 0;
}	

.dg-container nav .dg-prev,
.dg-container nav .dg-next{
	text-indent: 0;
	float: none;
	font-size: 30px;
	color: #fff;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	position: absolute;
	
	background: none;
}

.dg-container nav .dg-prev{
	left: 1%;
} 
.dg-container nav .dg-next{
	right: 1%;
}