* {
  box-sizing: border-box; }

.header, .text {
  font: 30px Raleway-regular;
  font-weight: 700;
  line-height: 43px;
  color: #566473; }

.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 10px; }

.wrapper-header {
  background: url("../images/back-burger.jpg") center no-repeat;
  background-size: cover;
  overflow: hidden; }
  .wrapper-header .container-header {
    padding: 80px 0; }
    @media screen and (max-width: 992px) and (min-width: 320px) {
      .wrapper-header .container-header {
        padding-top: 20px; } }
  .wrapper-header .header-menu {
    padding: 20px 0; }
  .wrapper-header .header-menu-for-list {
    position: relative; }
  .wrapper-header .header-menu-bars {
    color: #fff;
    font-size: 20px;
    cursor: pointer; }
    @media screen and (max-width: 1200px) and (min-width: 320px) {
      .wrapper-header .header-menu-bars {
        padding-left: 20px; } }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .wrapper-header .header-menu-bars {
        float: left; } }
  .wrapper-header .list {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 6%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .wrapper-header .list {
        left: 12%; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .wrapper-header .list {
        left: 14%; } }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .wrapper-header .list {
        left: 14%;
        width: 90px;
        padding: 10px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.8); } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-header .list {
        left: 16%; } }
    .wrapper-header .list li {
      padding: 5px 0;
      float: left;
      width: 16%;
      text-align: center; }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .wrapper-header .list li {
          float: none;
          width: 100%;
          text-align: left;
          margin-top: 0; } }
    .wrapper-header .list a {
      font: 16px Raleway-regular;
      line-height: 18px;
      color: #fff; }
  .wrapper-header .header-menu-for-search {
    position: relative; }
  .wrapper-header .header-menu-search {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    float: right; }
    @media screen and (max-width: 1200px) and (min-width: 320px) {
      .wrapper-header .header-menu-search {
        padding-right: 20px; } }
  .wrapper-header form {
    display: none;
    position: absolute;
    top: 0;
    right: 6%; }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .wrapper-header form {
        right: 12%; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .wrapper-header form {
        right: 14%; } }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .wrapper-header form {
        right: 14%;
        z-index: 1; } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-header form {
        right: 16%; } }
    .wrapper-header form input {
      width: 220px;
      padding: 10px 20px;
      background-color: rgba(239, 243, 243, 0.1);
      border: 2px solid rgba(239, 243, 243, 0.7); }
      @media screen and (max-width: 480px) and (min-width: 320px) {
        .wrapper-header form input {
          width: 135px; } }
      .wrapper-header form input:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
  .wrapper-header .header-info-about {
    padding-top: 275px;
    padding-bottom: 20px; }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .wrapper-header .header-info-about {
        padding-top: 80px; } }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .wrapper-header .header-info-about {
        padding-top: 35px; } }
    .wrapper-header .header-info-about h1 {
      font: 49px Raleway-regular;
      color: #fff;
      text-align: right;
      padding-right: 30px; }
      @media screen and (max-width: 992px) and (min-width: 320px) {
        .wrapper-header .header-info-about h1 {
          text-align: center;
          padding-right: 0;
          line-height: 14px; } }
    .wrapper-header .header-info-about p {
      font: 14px Raavi;
      color: #fff;
      text-align: right;
      line-height: 18px;
      padding: 20px 30px 45px; }
      @media screen and (max-width: 992px) and (min-width: 769px) {
        .wrapper-header .header-info-about p {
          text-align: center; } }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .wrapper-header .header-info-about p {
          padding-bottom: 20px;
          text-align: center; } }
  .wrapper-header .header-info-about-link {
    text-align: center; }
  .wrapper-header .link-download, .wrapper-header .link-learn-more {
    display: inline-block;
    padding: 10px 35px;
    font: 21px Raavi;
    color: #566473;
    font-weight: 400;
    background: #eff3f3;
    border: 2px solid #eff3f3; }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .wrapper-header .link-download, .wrapper-header .link-learn-more {
        display: block;
        width: 180px;
        padding: 5px 30px;
        margin: 0 auto; } }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .wrapper-header .link-download, .wrapper-header .link-learn-more {
        padding: 5px 30px; } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-header .link-download, .wrapper-header .link-learn-more {
        display: block;
        width: 180px;
        margin: 0 auto; } }
    .wrapper-header .link-download:hover, .wrapper-header .link-learn-more:hover {
      text-decoration: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      @media screen and (max-width: 992px) and (min-width: 320px) {
        .wrapper-header .link-download:hover, .wrapper-header .link-learn-more:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); } }
  .wrapper-header .link-learn-more {
    color: #fff;
    background: transparent;
    margin-left: 30px; }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .wrapper-header .link-learn-more {
        margin: 18px auto 0; } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-header .link-learn-more {
        display: block;
        width: 180px;
        margin: 18px auto 0; } }
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .wrapper-header .header-info-image {
      margin-bottom: -435px; } }
  @media screen and (max-width: 481px) and (min-width: 320px) {
    .wrapper-header .header-info-image {
      margin-bottom: -320px; } }
  .wrapper-header .header-info-image img {
    display: block;
    margin-bottom: -260px; }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .wrapper-header .header-info-image img {
        width: 100%; } }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .wrapper-header .header-info-image img {
        width: 70%;
        margin: 0 auto; } }

.wrapper-checkout {
  background-color: rgba(52, 152, 219, 0.8); }
  .wrapper-checkout .header-menu {
    text-align: center;
    padding: 35px 80px; }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .wrapper-checkout .header-menu {
        padding: 30px; } }
    .wrapper-checkout .header-menu h2, .wrapper-checkout .header-menu .wrapper-person .person-text p, .wrapper-person .person-text .wrapper-checkout .header-menu p, .wrapper-checkout .header-menu .wrapper-sign-up .sign-up-text p, .wrapper-sign-up .sign-up-text .wrapper-checkout .header-menu p {
      font: 23px Raleway-regular;
      font-weight: 700;
      line-height: 22px;
      color: #fff;
      padding-bottom: 10px; }
    .wrapper-checkout .header-menu p {
      font: 14px Raleway-regular;
      font-weight: 400;
      line-height: 17px;
      color: #fff; }

.wrapper-login {
  background-color: #fff;
  overflow: hidden; }
  .wrapper-login .login {
    padding: 35px 70px 0; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .wrapper-login .login {
        padding: 30px; } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-login .login {
        padding: 5px; } }
    .wrapper-login .login img {
      margin-bottom: -110px; }
      @media screen and (max-width: 992px) and (min-width: 769px) {
        .wrapper-login .login img {
          width: 100%; } }
      @media screen and (max-width: 768px) and (min-width: 481px) {
        .wrapper-login .login img {
          margin-left: -200px; } }
  @media screen and (max-width: 480px) and (min-width: 320px) {
    .wrapper-login .login-image {
      display: none; } }
  .wrapper-login .login-text {
    text-align: right;
    padding-top: 140px; }
    @media screen and (max-width: 1200px) and (min-width: 992px) {
      .wrapper-login .login-text {
        padding-top: 70px; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .wrapper-login .login-text {
        padding-top: 0;
        padding-bottom: 20px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .wrapper-login .login-text {
        padding-top: 0; } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-login .login-text {
        padding-top: 0;
        width: 100%;
        text-align: left; } }

.wrapper-today {
  background-color: #eff3f3;
  overflow: hidden; }
  .wrapper-today .today {
    padding: 35px 70px 0; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .wrapper-today .today {
        padding: 30px; } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-today .today {
        padding: 5px; } }
    .wrapper-today .today img {
      margin-bottom: -110px; }
      @media screen and (max-width: 992px) and (min-width: 769px) {
        .wrapper-today .today img {
          width: 100%; } }
      @media screen and (max-width: 768px) and (min-width: 481px) {
        .wrapper-today .today img {
          margin-right: -200px; } }
  .wrapper-today .today-text {
    padding-top: 140px; }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .wrapper-today .today-text {
        padding-top: 70px; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .wrapper-today .today-text {
        padding-top: 0;
        padding-bottom: 20px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .wrapper-today .today-text {
        padding-top: 0; } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-today .today-text {
        padding-top: 0;
        width: 100%;
        text-align: left; } }
  .wrapper-today .today-image {
    text-align: right; }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-today .today-image {
        display: none; } }

.wrapper-gallery {
  background: url("../images/back-blue.jpg") center no-repeat;
  background-size: cover; }
  @media screen and (max-width: 480px) and (min-width: 320px) {
    .wrapper-gallery {
      display: none; } }
  .wrapper-gallery .gallery {
    padding-top: 80px;
    text-align: center; }
    .wrapper-gallery .gallery h3, .wrapper-gallery .gallery h2, .wrapper-gallery .gallery .wrapper-person .person-text p, .wrapper-person .person-text .wrapper-gallery .gallery p, .wrapper-gallery .gallery .wrapper-sign-up .sign-up-text p, .wrapper-sign-up .sign-up-text .wrapper-gallery .gallery p {
      font: 28px Raleway-regular;
      font-weight: 600;
      color: #fff; }
    .wrapper-gallery .gallery h2, .wrapper-gallery .gallery .wrapper-person .person-text p, .wrapper-person .person-text .wrapper-gallery .gallery p, .wrapper-gallery .gallery .wrapper-sign-up .sign-up-text p, .wrapper-sign-up .sign-up-text .wrapper-gallery .gallery p {
      font-size: 36px;
      font-weight: 700;
      padding-bottom: 40px; }
  .wrapper-gallery .for-gallery {
    overflow: hidden; }

.wrapper-person .person {
  padding: 50px 100px; }
  @media screen and (max-width: 992px) and (min-width: 481px) {
    .wrapper-person .person {
      padding: 30px; } }
  @media screen and (max-width: 480px) and (min-width: 320px) {
    .wrapper-person .person {
      padding: 5px;
      padding-top: 15px;
      background-color: #fff; } }
.wrapper-person .person-image {
  padding: 5px;
  border: 3px solid #3498db;
  border-radius: 100px; }
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .wrapper-person .person-image {
      width: 16%;
      margin: 0 auto; } }
  .wrapper-person .person-image img {
    width: 100%;
    vertical-align: middle; }
.wrapper-person .person-text {
  padding: 50px 0;
  padding-left: 40px; }
  @media screen and (max-width: 992px) and (min-width: 769px) {
    .wrapper-person .person-text {
      padding: 20px 0;
      padding-left: 40px; } }
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .wrapper-person .person-text {
      padding: 10px;
      text-align: center; } }
  .wrapper-person .person-text h2, .wrapper-person .person-text p {
    font: 26px Raleway-regular;
    font-weight: 500;
    line-height: 21px;
    color: #566473; }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      .wrapper-person .person-text h2, .wrapper-person .person-text p {
        padding-bottom: 10px; } }
  .wrapper-person .person-text p {
    font-size: 13px;
    font-weight: 400; }

.wrapper-sign-up {
  background: url("../images/back-brown.jpg") center no-repeat;
  background-size: cover; }
  .wrapper-sign-up .sign-up {
    padding: 100px 70px 75px; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .wrapper-sign-up .sign-up {
        padding: 30px; } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-sign-up .sign-up {
        padding: 5px; } }
  .wrapper-sign-up .sign-up-text h2, .wrapper-sign-up .sign-up-text p {
    font: 30px Raleway-regular;
    font-weight: 600;
    line-height: 21px;
    color: #eff3f3; }
    @media screen and (max-width: 992px) and (min-width: 320px) {
      .wrapper-sign-up .sign-up-text h2, .wrapper-sign-up .sign-up-text p {
        font-size: 28px;
        line-height: 30px;
        padding-bottom: 15px; } }
  .wrapper-sign-up .sign-up-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 50px; }
    @media screen and (max-width: 992px) and (min-width: 320px) {
      .wrapper-sign-up .sign-up-text p {
        line-height: 28px; } }
  .wrapper-sign-up .sign-up-form {
    font: 13px "Open Sans";
    color: #fff;
    text-align: center; }
    .wrapper-sign-up .sign-up-form input[type="text"] {
      width: 180px;
      padding: 10px 20px;
      background-color: rgba(239, 243, 243, 0.1);
      border: 2px solid rgba(239, 243, 243, 0.7); }
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .wrapper-sign-up .sign-up-form input[type="text"] {
          width: 100%; } }
      .wrapper-sign-up .sign-up-form input[type="text"]:first-child {
        margin-right: 20px; }
        @media screen and (max-width: 992px) and (min-width: 320px) {
          .wrapper-sign-up .sign-up-form input[type="text"]:first-child {
            margin-right: 0;
            margin-bottom: 18px; } }
      .wrapper-sign-up .sign-up-form input[type="text"]:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
    .wrapper-sign-up .sign-up-form button {
      display: block;
      margin: 0 auto;
      width: 180px;
      padding: 8px 20px;
      background-color: #3498db;
      font: 20px "Open Sans";
      border: none;
      margin-top: 18px; }
      @media screen and (max-width: 480px) and (min-width: 320px) {
        .wrapper-sign-up .sign-up-form button {
          margin-bottom: 15px; } }
      .wrapper-sign-up .sign-up-form button:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }

.wrapper-footer {
  background-color: #1b1e20; }
  .wrapper-footer .footer {
    padding: 75px 0 65px; }
    @media screen and (max-width: 992px) and (min-width: 481px) {
      .wrapper-footer .footer {
        padding: 60px 0 40px; } }
    @media screen and (max-width: 480px) and (min-width: 320px) {
      .wrapper-footer .footer {
        padding: 15px; } }
  .wrapper-footer .footer-download {
    text-align: center; }
    .wrapper-footer .footer-download p {
      display: inline-block;
      color: #dddfe1;
      font: 30px Raleway-regular;
      line-height: 21px;
      font-weight: 700; }
      .wrapper-footer .footer-download p span {
        font-weight: 400; }
    .wrapper-footer .footer-download a {
      background-color: #eff3f3;
      border-radius: 5px;
      color: #1b1e20;
      font: 16px "Open Sans";
      font-weight: 400;
      line-height: 21px;
      text-transform: uppercase;
      vertical-align: top;
      padding: 15px 45px;
      margin-left: 30px; }
      @media screen and (max-width: 992px) and (min-width: 481px) {
        .wrapper-footer .footer-download a {
          padding: 10px 30px; } }
      @media screen and (max-width: 480px) and (min-width: 320px) {
        .wrapper-footer .footer-download a {
          padding: 10px 25px;
          margin: 15px auto;
          display: block;
          width: 180px; } }
      .wrapper-footer .footer-download a:hover {
        text-decoration: none;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
  .wrapper-footer .footer-socials {
    text-align: center;
    font-size: 30px;
    margin: 30px 0; }
    .wrapper-footer .footer-socials a {
      margin: 0 4px; }
    .wrapper-footer .footer-socials .fa-facebook-square {
      color: #3B5998; }
    .wrapper-footer .footer-socials .fa-twitter-square {
      color: #44CCF6; }
    .wrapper-footer .footer-socials .fa-pinterest-square {
      color: #CE2128; }
    .wrapper-footer .footer-socials .fa-youtube-square {
      color: #CE332D; }
    .wrapper-footer .footer-socials .fa-vimeo-square {
      color: #86C9EF; }
  .wrapper-footer .footer-rights {
    text-align: center;
    font: 16px "Open Sans";
    font-weight: 400;
    line-height: 21px;
    color: #dddfe1; }

.dg-container {
  height: 250px; }

.dg-wrapper a {
  width: 370px;
  height: 316px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -185px;
  background: transparent url(../images/back-burger.jpg) center no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); }

.dg-wrapper a img {
  display: block;
  padding: 0;
  margin: 0 auto;
  height: 315px; }

.dg-container nav {
  width: 100%;
  position: absolute;
  z-index: 1000;
  bottom: 50%;
  left: 0;
  margin-left: 0; }

.dg-container nav .dg-prev,
.dg-container nav .dg-next {
  text-indent: 0;
  float: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  width: 24px;
  height: 25px;
  opacity: 0.8;
  position: absolute;
  background: none; }

.dg-container nav .dg-prev {
  left: 1%; }

.dg-container nav .dg-next {
  right: 1%; }

.slick-prev {
  left: 0; }

.slick-prev:before {
  content: "\f053";
  color: #74B7E3;
  font: 28px FontAwesome; }

.slick-next {
  right: 0; }

.slick-next:before {
  content: "\f054";
  color: #74B7E3;
  font: 28px FontAwesome; }

/*# sourceMappingURL=style.css.map */